#chatroomRoot {
    position: relative;
    min-height: 100vh;
}

div.chatroom {
    margin: 6rem 0 10rem;
    padding-bottom: 10rem;
    animation: appear 1s 1;
    font-family: $mainFont;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    line-height: 6rem;
    div.chatMessageArea {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        height: 50vh;
        @media (min-width: 1200px) {
            width: 30vw;
            height: 30vh;
        };
        width: 60vw;
        padding: 2rem;
        border: 1px solid $lightgrey;
        border-radius: 1rem;
        overflow-y: auto;
    }
    div.chatRow {
        margin: 1rem 0 0;
        display: flex;
        flex-flow: column nowrap;
        line-height: 3rem;
        font-size: $smallerFontSize;
        width: 100%;
        color: $white;
        span.chatSender {
            color: $tundora;
            font-size: $smallestFontSize;
            line-height: 1.5rem;
        }
        span.chatDate {
            font-size: $smallestFontSize;
            color: $tundora;
        }
        span.chatMessage {
            padding: 1rem;
            max-width: 80%;
            border-radius: 1rem;
        }
        .blue {
            background-color: $cerulean;
        }
        .red {
            background-color: $tundora;
        }
    }
    .you {
        align-items: flex-start;
    }
    .they {
        align-items: flex-end;
    }
    div.inputArea {
        margin: 4rem 0 0;
        border: 1px solid $lightgrey;
        border-radius: 1rem;
        @media (min-width: 1200px) {
            width: 30vw;
        };
        width: 60vw;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        textarea {
            background: transparent;
            border: none;
            border-bottom: 1px solid $pear;
            font-size: $signupLabelFontSize;
            outline: none;
            @media (min-width: 1200px) {
                width: 30vw;
            };
            width: 60vw;
            color: $pear;
            font-family: $mainFont;
        }
        a {
            flex: 0 0 auto;
            color: $pear;
            font-family: $mainFont;
            font-size: $mainFontSize;
            font-weight: 800;
            transition: transform 0.2s;
            line-height: 4rem;
            &:hover {
                color: $cerulean;
            }
          }
    }
}