body {
  background-color: $tundora;
}

#dashboardRoot {
  position: relative;
  min-height: 100vh;
  background-image: url(/client/assets/img/deva-darshan-4NZ-Q_uuKl8-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.dashboard {
  @media (min-width: 1000px) {
    margin: 6rem 0 10rem;
  };
  margin: 20rem 0 10rem;
  padding-bottom: 10rem;
  animation: appear 1s 1;
  font-family: $mainFont;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  line-height: 6rem;
}