body {
  background-color: $black;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  font-family: $mainFont;
  font-size: $mainFontSize;
  color: $keylimepearl;
}

div.logo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  h1 {
    font-family: $titleFont;
    font-size: $titleFontSize;
    text-align: center;
    color: $pear;
    margin: 0;
    animation: flyLeft 1s 1;
  }
  
  span.subtitle {
    font-family: $mainFont;
    margin-top: -1rem;
    font-size: 2rem;
    font-weight: 700;
    color: $cerulean;
    animation: flyRight 1s 1;
  }
}

span.warning {
  color: red;
}

@keyframes changeBg
{
  0%   {background-image: url(/client/assets/img/vishnu-r-nair-m1WZS5ye404-unsplash.jpg);}
  17%  {background-image: url(/client/assets/img/filip-mroz--WgTWXb4nh4-unsplash.jpg);}
  34%  {background-image: url(/client/assets/img/charlotte-coneybeer-JcJSeL3RmBY-unsplash.jpg);}
  51%  {background-image: url(/client/assets/img/ardian-lumi-6Woj_wozqmA-unsplash.jpg);}
  68%  {background-image: url(/client/assets/img/jake-hills-23LET4Hxj_U-unsplash.jpg);}
  85%  {background-image: url(/client/assets/img/sarah-ardin-xmeWpE6aDW4-unsplash.jpg);}
}

@keyframes flyLeft {
  0% { transform: translateX(-100px); }
  100% { transform: translateX(0px); }
}

@keyframes flyRight {
  0% { transform: translateX(100px); }
  100% { transform: translateX(0px); }
}