div.matches {
  @media (min-width: 1200px) {
    position: fixed;
    left: 10rem;
    top: 12.5rem;
    margin: 0;
  }
  &:hover + img.matchAvatar {
    display: block;
    opacity: 100;
  }
  margin: 10rem 0 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  div.match {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    img.matchAvatar {
      width: 100px;
      height: 100px;
      display: none;
      margin-left: 2rem;
      animation: appear 1s 1;
      opacity: 0;
      border-radius: 50px;
    }
    a.matchName {
      font-size: $smallerFontSize;
      line-height: 3rem;
      color: $tundora;
      &:hover {
        color: $cerulean;
      }
    }
    a.matchedName {
      font-size: $mainFontSize;
      line-height: 3rem;
      color: $razzmatazz;
      &:hover {
        color: $cerulean;
      }
    }
  }
}