div.matches {
  position: fixed;
  left: 10rem;
  top: 12.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  div.match {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    img.matchAvatar {
      width: 100px;
      height: 100px;
      display: none;
      margin-left: 2rem;
    }
    a.matchName {
      font-size: $smallerFontSize;
      line-height: 3rem;
      color: $tundora;
      &:hover + img.matchAvatar {
        display: block;
      }
    }
  }
}