body {
  background-image: url(../assets/img/photo-1437149639288-c32965270c85.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

div.notauthorized {
  margin: 6rem 0 10rem;
  padding-bottom: 10rem;
  animation: appear 1s 1;
  font-family: $mainFont;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  line-height: 6rem;
  color: $razzmatazz;
}