body {
  background-color: $tundora;
  background-image: url(/client/assets/img/vishnu-r-nair-m1WZS5ye404-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  animation: changeBg 60s infinite;
}

#signupFormBottom {
  animation: appear 1s 1;
}