@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Permanent+Marker&display=swap');

$tundora: #454545;
$black: rgb(11, 11, 11);

$pear: #CAE624;
$keylimepearl: #E3F384;
$frostbite: #DE1EBE;
$cerulean: #1EC1D9;

$titleFont: 'Permanent Marker', cursive;
$titleFontSize: 10rem;
$mainFont: 'Montserrat', sans-serif;
$mainFontSize: 2rem;
$signupLabelFontSize: 3rem;
$signupBtnFontSize: 3rem;
$smallerFontSize: 1.5rem;