@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Permanent+Marker&display=swap');

$tundora: #454545;

$pear: #CAE624;
$keylimepearl: #E3F384;
$frostbite: #DE1EBE;
$cerulean: #1EC1D9;

$titleFont: 'Permanent Marker', cursive;
$titleFontSize: 10rem;
$signupLabelFontSize: 4rem;
$signupMainFont: 'Montserrat', sans-serif;
$signupBtnFontSize: 4rem;