@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Permanent+Marker&display=swap');

$tundora: #454545;
$black: rgb(11, 11, 11);
$lightgrey: #c8c8c8;
$white: whitesmoke;

$pear: #CAE624;
$keylimepearl: #E3F384;
$frostbite: #DE1EBE;
$razzmatazz: #E22166;
$cerulean: #1EC1D9;
$carribeangreen: #21CA8D;
$persianblue: #3A1FD8;

$titleFont: 'Permanent Marker', cursive;
$titleFontSize: 10rem;
$logoFontSize: 3.5rem;
$mainFont: 'Montserrat', sans-serif;
$mainFontSize: 2rem;
$largerFontSize: 3rem;
$signupLabelFontSize: 3rem;
$signupBtnFontSize: 3rem;
$smallerFontSize: 1.5rem;